section.parallax{
    width: 100%;
    min-height: 700px;
    padding-bottom: 60px;
    background-image: url("../img/hero-bg.png");
    background-color: rgb(14,29,52);
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.8);
}
section.parallax>div.container{
    position: relative;
    top:100px;
}
section.parallax>div.container>div.row>div#content>form{
    padding: 10px ;
    border-radius: 10px;
    background-color: white;
}
section.parallax>div.container>div.row>div#content>form>input{
    padding: 18px 20px;
    border: none;
}
section.parallax>div.container>div.row>div#content>form>button{
    padding: 15px 30px;
}
/* end form*/
/* stats */
div#stats>div>div.stats-item{
    width: 100%;
    padding: 30px;
    text-align: center;
}
div#stats>div>div.stats-item>span{
    font-size: 32px;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px;
}
div#stats>div>div.stats-item>hr{
    height: 3px;
    background-color: blue !important;
    width: 20px;
    margin: 0 auto;
}
div#stats>div>div.stats-item>p{
    font-size: 15px;
    font-weight: 600;
}
/*end of status*/