section.reviews{
    padding: 80px 0;
    background: url("../img/testimonials-bg.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
section.reviews::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(14, 29, 52, 0.7);
}
div.review-item{
    background-color: rgba(167, 59, 109, 0.03);
    position: relative;
}
div.review-item>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #6C757D;
    margin: 0 auto;
}
div.review-item>h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #F9F9FA;
}
div.review-item>h4{
    margin-bottom: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
div.review-item>div.stars{
    margin-bottom: 15px;
}
div.review-item>div.stars>i{
    color: #ffc107;
}
div.review-item>p{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    color: #F9F9FA;
    font-style: italic;
}
div.review-item>p>i{
    color: rgba(255, 255, 255, 0.6);
}
div.swiper-pagination{
    margin-top: 20px;
    position: relative;
    top: -10px;
}
.swiper-pagination .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.5;
}
.swiper-pagination .swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1;
}